body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center; /* ⬅ 左右置中 */
  justify-content: flex-start;
  padding-top: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 防止出現 scroll bar */
}

h1, #result {
  text-align: center;
}

video {
  border: 4px solid #4caf50;
  border-radius: 12px;
  margin: 20px auto;
  display: block;
}

button {
  font-size: 96px;
  padding: 64px 128px;
  margin-bottom: 20px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  font-weight: bold;
}
